.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  width: -moz-max-content;
  width: max-content;
}

.btn-prev {
  color: var(--red) !important;
  transition: all ease-in-out 0.3s;
}

.btn-prev path {
  stroke: var(--danger) !important;
}

.btn-prev:hover {
  color: var(--white) !important;
  background-color: var(--danger) !important;
}

.btn-prev:hover path {
  stroke: var(--white) !important;
}

.btn-prev:focus {
  color: var(--white) !important;
  box-shadow: none !important;
  background-color: var(--red) !important;
}

.btn-prev:focus path {
  stroke: var(--white) !important;
}

.btn-success {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
  color: white !important;
}

.btn-success:active {
  background-color: var(--success-active) !important;
  border-color: var(--success-active) !important;
}

.btn-success:hover {
  background-color: var(--success-hover) !important;
  border-color: var(--success-hover) !important;
}

.btn-waiting {
  background-color: var(--waiting) !important;
  border-color: var(--waiting) !important;
  color: white !important;
}

.btn-waiting:active {
  background-color: var(--waiting-active) !important;
  border-color: var(--waiting-active) !important;
}

.btn-waiting:hover {
  background-color: var(--waiting-hover) !important;
  border-color: var(--waiting-hover) !important;
}

.btn-outline-waiting {
  border-color: var(--waiting) !important;
  color: var(--waiting) !important;
  transition: 1s all ease;
}

.btn-outline-waiting:active {
  background-color: var(--waiting-active) !important;
  border-color: var(--waiting-active) !important;
}

.btn-outline-waiting:hover {
  background-color: var(--waiting-hover) !important;
  border-color: var(--waiting-hover) !important;
}

.btn-outline-waiting:hover {
  color: white !important;
}

.btn-outline-waiting:hover svg path {
  fill: white;
}

.btn-outline-waiting.fill-inherit:hover svg path {
  fill: inherit;
}

.btn-transparent {
  background: transparent !important;
}

.btn-danger {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
  color: white !important;
}

.btn-info {
  background-color: var(--info) !important;
  border-color: var(--info) !important;
  color: white !important;
}

.btn-outline-secondary {
  border-color: var(--border) !important;
  color: rgba(17, 17, 17, 0.4);
}

.btn-outline-secondary:hover {
  border-color: var(--border) !important;
  color: rgba(17, 17, 17, 0.5);
}

.btn-outline-secondary:hover path {
  stroke: rgba(17, 17, 17, 0.5);
}

.btn-outline-success {
  transition: 1s all ease;
}

.btn-outline-success:hover {
  color: white !important;
}

.btn-outline-success:hover svg path {
  fill: white;
}

.btn-outline-success.fill-inherit:hover svg path {
  fill: inherit;
}

.btn-outline-success:hover svg path.stroke {
  fill: var(--success) !important;
  stroke: white !important;
}

.btn-outline-info {
  border: 1.5px solid var(--blue);
  color: var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.btn-outline-info:hover {
  background: var(--blue);
  border: 1.5px solid var(--blue);
  color: white;
}

.btn-underline {
  border-bottom: 0.0625rem solid var(--black);
}

.btn-check + .btn:hover,
.btn-check:checked + .btn {
  color: var(--black);
  border: 0.0625rem solid rgba(222, 226, 230, 0.4) !important;
  background: rgba(25, 152, 98, 0.2) !important;
}

.aptsearch-table {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.aptsearch-table th {
  font-size: 0.875rem !important;
  text-align: center;
}

.aptsearch-table tbody tr {
  outline: 0.0625rem solid var(--footer-bg);
  display: table-row;
  margin: 0.5rem 0;
  border-radius: 0.125rem;
}

.aptsearch-table td {
  text-align: center;
  font-size: 1rem;
  color: var(--gray);
  vertical-align: middle;
}

.aptsearch-table .apt-status-flag {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.aptsearch-table .apt-status-flag::before {
  left: 10%;
}

.aptsearch-table .apt-status-flag.onsale-apt {
  border: 0.0625rem solid var(--success);
  color: var(--success);
}

.aptsearch-table .apt-status-flag.onsale-apt::before {
  border: transparent;
  background-color: var(--success) !important;
}

.aptsearch-table .apt-status-flag.monitored-apt {
  border: 0.0625rem solid #e3744d;
  color: #e3744d;
}

.aptsearch-table .apt-status-flag.selected-apt {
  border: 0.0625rem solid var(--gray);
  color: var(--gray);
}

.aptsearch-table .apt-status-monitored {
  background: var(--body-bg);
}

.aptsearch-table .apt-status-monitored td:first-of-type {
  border-left: 0.125rem solid #e3744d;
}

.aptsearch-table .apt-status-selected {
  background: var(--body-bg);
}

.aptsearch-table .apt-status-selected td:first-of-type {
  border-left: 0.125rem solid var(--gray);
}

.apt-application {
  border: 0;
  border-radius: 0;
}

.apt-application .card-row {
  border: 0 !important;
  padding: 0.75rem 0 !important;
}

.status-flag {
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.status-flag-danger {
  border: 0.0625rem solid var(--danger);
  color: var(--danger);
}

.status-flag-success {
  border: 0.0625rem solid var(--success);
  color: var(--success);
}

.cabinet-card {
  border-bottom: 0.25rem solid;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-height: 15rem;
}

.cabinet-card.inactive {
  box-shadow: none !important;
  border: none;
  border-width: 0;
  cursor: default !important;
}

.cabinet-card .card-heading {
  font-size: 1.125rem;
  font-weight: 600;
  width: 44%;
  z-index: 1;
}

.cabinet-card .card-icon {
  position: relative;
  padding: 0.5rem 0.8rem;
  background-color: #f8fcfc;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}

.cabinet-card .card-text {
  font-size: 0.875rem !important;
  line-height: 1.3;
  font-weight: 500;
  z-index: 1;
  color: var(--black);
  position: relative;
  margin-top: 0.75rem;
}

#card1 {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(25, 152, 98, 0.1019607843);
  border-color: var(--success);
}

#card1 .card-icon {
  color: var(--success);
}

#card1.blinds-effect::before {
  background-color: var(--success);
}

#card1.blinds-effect.unhover .card-icon svg path {
  fill: var(--success) !important;
  transition: all 0.5s ease;
}

#card1.blinds-effect:not(.unhover) #sales-timer-circle .circle-bg {
  fill: var(--success) !important;
  stroke: #f8f9fa61 !important;
}

#card1.blinds-effect:not(.unhover) #sales-timer-circle .circle-progress {
  stroke: var(--body-bg) !important;
}

#card1.blinds-effect:not(.unhover) .btn-outline-success {
  background-color: #47ac80 !important;
  color: var(--white) !important;
  border: 0.08rem solid var(--white);
}

/* yellow state */

.cabinet-card.yellow {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(25, 152, 98, 0.1019607843);
  border-color: var(--yellow) !important;
}

.cabinet-card.yellow .card-text {
  color: #666 !important;
  font-size: 0.75rem !important;
}

.cabinet-card.yellow .card-text .grey-dark {
  color: #6c757d;
  transition: all 0.5s ease;
}

.cabinet-card.yellow .card-text .black-16 {
  color: #161616;
  transition: all 0.5s ease;
}

.cabinet-card.yellow .timer-time-text {
  color: var(--yellow);
}

.cabinet-card.yellow .timer-time-text {
  font-size: 1.625rem;
  letter-spacing: 0.2rem;
  color: var(--yellow);
  margin-right: -0.2rem;
}

.cabinet-card.yellow.blinds-effect:not(.unhover) .card-text,
.cabinet-card.yellow.blinds-effect:not(.unhover) .card-text .grey-dark,
.cabinet-card.yellow.blinds-effect:not(.unhover) .card-text .black-16 {
  color: white !important;
}

.cabinet-card.yellow.blinds-effect:not(.unhover) .btn-yellow {
  color: var(--yellow) !important;
  background: white !important;
  z-index: 222;
  position: relative;
  transition: all 0.5s ease;
}

.cabinet-card.yellow.blinds-effect:not(.unhover) .btn-yellow svg path {
  fill: var(--yellow) !important;
  transition: all 0.5s ease;
}

.cabinet-card.yellow .timer-wrapper {
  width: 7.25rem;
  height: 7.25rem;
}

.cabinet-card.yellow.blinds-effect:not(.unhover) .circle-progress-yellow {
  stroke: white !important;
}

.cabinet-card.yellow.blinds-effect:not(.unhover) .circle-progress-border {
  stroke: #fcb80c !important;
}

.cabinet-card.yellow.blinds-effect:not(.unhover) .second-progress {
  stroke: #d9d9d9 !important;
}

.cabinet-card.yellow.blinds-effect.unhover .timer-time-text {
  color: var(--yellow) !important;
}

.cabinet-card.yellow.blinds-effect::before {
  background-color: var(--yellow) !important;
}

.cabinet-card.yellow.blinds-effect:hover svg path {
  stroke: var(--yellow) !important;
}

.cabinet-card.yellow .i-icon {
  position: relative;
  z-index: 222;
}

.cabinet-card.yellow.blinds-effect .i-icon svg path {
  fill: var(--yellow) !important;
  stroke: white !important;
  transition: all 0.5s ease;
}

.cabinet-card.yellow.blinds-effect.unhover .i-icon svg path {
  fill: white !important;
  stroke: var(--yellow) !important;
}

.btn-yellow {
  background: var(--yellow);
  padding: 0.5rem 0.875rem;
  color: white;
  transition: all 0.5s ease-out;
}

/**/

#card2 {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(253, 126, 20, 0.1019607843);
  border-color: #fd7e14;
}

#card2 .card-icon {
  color: #fd7e14;
}

#card2.blinds-effect::before {
  background-color: #fd7e14;
}

#card2.blinds-effect.unhover .card-icon svg path {
  fill: #fd7e14 !important;
  transition: all 0.5s ease;
}

#card3 {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(110, 114, 240, 0.1019607843);
  border-color: #6e72f0;
}

#card3 .card-icon {
  color: #6e72f0;
}

#card3.blinds-effect::before {
  background-color: #6e72f0;
}

#card3.blinds-effect.unhover .card-icon svg path {
  fill: #6e72f0 !important;
  transition: all 0.5s ease;
}

#card3.blinds-effect:not(.unhover) #waits-timer-circle .circle-bg {
  fill: #6e72f0 !important;
  stroke: #f8f9fa61 !important;
}

#card3.blinds-effect:not(.unhover) #waits-timer-circle .circle-progress {
  stroke: var(--body-bg) !important;
}

#card3.blinds-effect:not(.unhover) .btn-outline-waiting {
  background-color: var(--waiting) !important;
  color: var(--white) !important;
  border: 0.08rem solid var(--white) !important;
}

#card4 {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(53, 85, 165, 0.1019607843);
  border-color: #3555a5;
}

#card4 .card-icon {
  color: #3555a5;
}

#card4.blinds-effect::before {
  background-color: #3555a5;
}

#card4.blinds-effect.unhover .card-icon svg path {
  fill: #3555a5 !important;
  transition: all 0.5s ease;
}

#card5 {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(255, 193, 7, 0.1019607843);
  border-color: #ffc107;
}

#card5 .card-icon {
  color: #ffc107;
}

#card5.blinds-effect::before {
  background-color: #ffc107;
}

#card5.blinds-effect.unhover .card-icon svg path {
  fill: #ffc107 !important;
  transition: all 0.5s ease;
}

#card6 {
  box-shadow: 0px 0.75rem 0.625rem 0px rgba(94, 219, 152, 0.1019607843);
  border-color: #5edb98;
}

#card6 .card-icon {
  color: #5edb98;
}

#card6.blinds-effect::before {
  background-color: #5edb98;
}

#card6.blinds-effect.unhover .card-icon svg path {
  fill: #5edb98 !important;
  transition: all 0.5s ease;
}

.cabinet-card-content {
  position: relative;
  justify-content: space-between !important;
}

.cabinet-card-content .card-row {
  padding: 1rem 0;
}

.cabinet-card-content .card-row p {
  text-align: end !important;
}

.cabinet-card-content .card-row * {
  font-size: 0.875rem !important;
}

.blinds-effect::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  z-index: 0;
}

.blinds-effect:hover i {
  color: black !important;
  transition: color 1s ease;
}

.blinds-effect:hover svg path {
  fill: var(--white) !important;
  transition: all 0.5s ease;
}

.blinds-effect p {
  color: var(--white) !important;
  transition: all 0.5s ease;
}

.blinds-effect.unhover p {
  color: var(--black) !important;
  transition: all 0.5s ease;
}

.blinds-effect:hover::before {
  animation: slide-up 0.5s forwards ease-in-out;
  transition: transform 0.5s ease;
  transform: translateY(0%);
}

.blinds-effect.unhover::before {
  animation: slide-down 0.5s forwards ease-in-out; /* Unhover animation */
}

.blinds-effect .card-icon {
  background: rgba(255, 255, 255, 0.2) !important;
  transition: all 0.5s ease;
}

.btn-luminous {
  color: white !important;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 1) inset;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.5s all ease;
}

.btn-luminous:hover {
  color: rgba(37, 99, 235, 1) !important;
  box-shadow: 0px 1px 16px 0px #ffffff99;
  background: white;
}

/* Keyframes for the background effect */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}
