input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='radio'] {
  margin: 0;
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

label {
  display: flex !important;
  align-items: center;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.form-check-label {
  color: var(--black) !important;
  font-size: 1rem !important;
}

.radio-input,
.checkbox-input {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

select {
  outline: none;
  margin: 0 1rem;
  padding: 0.5rem;
  border-color: var(--border);
  color: var(--gray);
  cursor: pointer;
}

input,
textarea {
  border: 1px solid var(--border);
  outline: none;
  color: var(--gray);
  padding: 0.45rem;
}

.file-dropzone {
  border: 1px dashed #0074c5;
  color: #0174c4;
  height: 7rem;
  padding: 2rem 3.5rem;
  background: #f3f8fc;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.w-select {
  width: 9rem;
}
