.loader-container {
  position: fixed;
  z-index: 200;
  height: 100vh !important;
  width: 100% !important;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 3.125rem;
  aspect-ratio: 1;
  display: grid;
}

.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 0.75rem 0.75rem;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 0.5rem 0.5rem;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
