@media (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 14px;
  }
  #rightBuildings,
  #leftBuildings {
    transform: scale(0.8);
  }
}

@media (min-width: 1400px) and (max-width: 1799px) {
  html {
    font-size: 16px;
  }
  #rightBuildings,
  #leftBuildings {
    transform: scale(1.1);
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  #rightBuildings,
  #leftBuildings {
    transform: scale(1.2);
  }
}

@media (min-width: 1800px) and (max-width: 2100px) {
  html {
    font-size: 18px;
  }

  #rightBuildings,
  #leftBuildings {
    transform: scale(1.2);
  }
}

@media (min-width: 2100px) and (max-width: 10000px) {
  html {
    font-size: 21px;
  }
  #rightBuildings,
  #leftBuildings {
    transform: scale(1.2);
  }
}

@media (min-width: 4000px) {
  .card-tab-title {
    left: -0.6rem !important;
  }
}

@media (max-width: 1166px) {
  .card-tab-title {
    left: -0.68rem !important;
  }
}
