:root {
  --white: #ffffff;
  --black: #212529;
  --gray: #6c757d;
  --gray-dark: #5c646b;
  --gray-light: #e9e9ea;
  --gray-light-active: #babbbd;
  --gray-light-hover: #dededf;
  --border: #ced4da;
  --success: #199862;
  --success-active: #147a4e;
  --success-hover: #178958;
  --danger: #dc3545;
  --danger-rgb: 220, 53, 69;
  --warning: #faa309;
  --info: #2196f3;
  --body-bg: #f8f9fa;
  --footer-bg: #eaeef1;
  --blue: #0f62fe;
  --waiting: #6e72f0;
  --waiting-rgb: 110, 114, 240;
  --waiting-active: #5a5ed1;
  --waiting-hover: #5a5ed1;
  --waiting-hover-rgb: 90, 94, 209;
  --yellow: #ffc107;
  --red: #da1e28;
  --red-rgd: 218, 30, 40;
}
